.links-container{
    max-width: 1120px;
    margin: 32px auto 0 auto;
}

.links-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links-header svg{
    margin-right: 14px;
}

.links-header h1{
    color: #FFF;
}

.links-item{
    width: 720px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}

.empty-list{
    width: 720px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #FFF;
}

.links-item:last-child{
    margin-bottom: 18px;
}

.link{
    width: 100%;
    border: 0;
    height: 46px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255, 0.15);
    margin-right: 14px;
    padding: 0 14px;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #FFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link svg{
    margin-right: 14px;
}

.link-delete{
    border: 0;
    background-color: transparent;
}

@media (max-width: 850px) {
    .links-container{
        width: 90%;
    }

    .links-header h1{
        font-size: 24px;
    }

    .links-header svg{
        width: 30px;
    }

    .links-item{
        width: 100%;
    }

    .link svg{
        display: none;
    }

    .link {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}